openapi: 3.0.3
info:
  title: PartnerStack Customers API
  description: The PartnerStack API allows you to integrate with the PartnerStack platform to manage partnerships, customers, deals, transactions, rewards, and more.
  version: '2.0'
  contact:
    name: PartnerStack Support
    url: https://docs.partnerstack.com/
servers:
- url: https://api.partnerstack.com/api/v2
  description: PartnerStack API v2
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Customers
paths:
  /customers:
    get:
      summary: List customers
      description: Returns a paginated list of customers ordered by creation date.
      operationId: listCustomers
      parameters:
      - $ref: '#/components/parameters/MinCreated'
      - $ref: '#/components/parameters/MaxCreated'
      - $ref: '#/components/parameters/MinUpdated'
      - $ref: '#/components/parameters/MaxUpdated'
      - name: group
        in: query
        schema:
          type: string
      - name: partner_key
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      responses:
        '200':
          description: Customers list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
      tags:
      - Customers
    post:
      summary: Create a customer
      description: Creates a new customer.
      operationId: createCustomer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - partner_key
              properties:
                customer_key:
                  type: string
                  nullable: true
                email:
                  type: string
                  format: email
                  maxLength: 255
                partner_key:
                  type: string
                name:
                  type: string
                  maxLength: 100
                meta:
                  type: object
                provider_key:
                  type: string
      responses:
        '200':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
      tags:
      - Customers
components:
  schemas:
    Customer:
      type: object
      properties:
        key:
          type: string
        customer_key:
          type: string
        email:
          type: string
        name:
          type: string
        partner_key:
          type: string
        provider_key:
          type: string
        meta:
          type: object
        created_at:
          type: integer
          format: int64
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        has_more:
          type: boolean
  parameters:
    MaxUpdated:
      name: max_updated
      in: query
      schema:
        type: integer
        format: int64
    MinCreated:
      name: min_created
      in: query
      schema:
        type: integer
        format: int64
    EndingBefore:
      name: ending_before
      in: query
      schema:
        type: string
    StartingAfter:
      name: starting_after
      in: query
      schema:
        type: string
    MaxCreated:
      name: max_created
      in: query
      schema:
        type: integer
        format: int64
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 250
    MinUpdated:
      name: min_updated
      in: query
      schema:
        type: integer
        format: int64
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
