openapi: 3.0.3
info:
  title: PartnerStack Customers Transactions API
  description: The PartnerStack API allows you to integrate with the PartnerStack platform to manage partnerships, customers, deals, transactions, rewards, and more.
  version: '2.0'
  contact:
    name: PartnerStack Support
    url: https://docs.partnerstack.com/
servers:
- url: https://api.partnerstack.com/api/v2
  description: PartnerStack API v2
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Transactions
paths:
  /transactions:
    get:
      summary: List transactions
      description: Returns transactions sorted by creation date.
      operationId: listTransactions
      parameters:
      - $ref: '#/components/parameters/MinCreated'
      - $ref: '#/components/parameters/MaxCreated'
      - name: order_by
        in: query
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      responses:
        '200':
          description: Transactions list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
      tags:
      - Transactions
components:
  schemas:
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        has_more:
          type: boolean
  parameters:
    MinCreated:
      name: min_created
      in: query
      schema:
        type: integer
        format: int64
    EndingBefore:
      name: ending_before
      in: query
      schema:
        type: string
    StartingAfter:
      name: starting_after
      in: query
      schema:
        type: string
    MaxCreated:
      name: max_created
      in: query
      schema:
        type: integer
        format: int64
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 250
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
