openapi: 3.0.3
info:
  title: PartnerStack Customers Partnerships API
  description: The PartnerStack API allows you to integrate with the PartnerStack platform to manage partnerships, customers, deals, transactions, rewards, and more.
  version: '2.0'
  contact:
    name: PartnerStack Support
    url: https://docs.partnerstack.com/
servers:
- url: https://api.partnerstack.com/api/v2
  description: PartnerStack API v2
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Partnerships
paths:
  /partnerships:
    get:
      summary: List partnerships
      description: Returns partnerships managed or owned by the authenticated user.
      operationId: listPartnerships
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/StartingAfter'
      - $ref: '#/components/parameters/EndingBefore'
      - name: order_by
        in: query
        schema:
          type: string
      - name: has_sub_id
        in: query
        schema:
          type: boolean
      - name: include_offers
        in: query
        schema:
          type: boolean
      - name: include_archived
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: Partnerships list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse'
      tags:
      - Partnerships
components:
  schemas:
    PaginatedResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
        has_more:
          type: boolean
  parameters:
    StartingAfter:
      name: starting_after
      in: query
      schema:
        type: string
    EndingBefore:
      name: ending_before
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 250
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
